src_tokens: TextField of length 5 with text:
    [establish, model, in, Industrial, Innovation]
    and TokenIndexers : {'encoder_tokens': 'SingleIdTokenIndexer', 'encoder_characters': 'TokenCharactersIndexer'}
src_token_ids: ArrayField with shape: (7,).
src_token_subword_index: ArrayField with shape: (5, 1).
src_must_copy_tags: SequenceLabelField of length 5 with labels:
    [0, 0, 0, 0, 0]
    in namespace: 'must_copy_tags'.
tgt_tokens: TextField of length 6 with text:
    [@start@, establish, model, innovate, industry, @end@]
    and TokenIndexers : {'decoder_tokens': 'SingleIdTokenIndexer', 'decoder_characters': 'TokenCharactersIndexer'}
src_pos_tags: SequenceLabelField of length 5 with labels:
    ['VBG', 'NNS', 'IN', 'NNP', 'NNP']
    in namespace: 'pos_tags'.
tgt_pos_tags: SequenceLabelField of length 6 with labels:
    ['@@UNKNOWN@@', 'VBG', 'NNS', '@@UNKNOWN@@', '@@UNKNOWN@@', '@@UNKNOWN@@']
    in namespace: 'pos_tags'.
tgt_copy_indices: SequenceLabelField of length 6 with labels:
    [0, 0, 0, 0, 0, 0]
    in namespace: 'coref_tags'.
tgt_copy_mask: SequenceLabelField of length 6 with labels:
    [0, 0, 0, 0, 0, 0]
    in namespace: 'coref_mask_tags'.
tgt_copy_map: AdjacencyField of length 6
    with indices:
    [(0, 0), (1, 1), (2, 2), (3, 3), (4, 4), (5, 5)]

    and labels:
    None
    in namespace: 'labels'.
src_copy_indices: SequenceLabelField of length 6 with labels:
    [1, 2, 3, 1, 1, 1]
    in namespace: 'source_copy_target_tags'.
src_copy_map: AdjacencyField of length 7
    with indices:
    [(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6)]

    and labels:
    None
    in namespace: 'labels'.
head_tags: SequenceLabelField of length 6 with labels:
    ['root', 'ARG1', 'mod', 'ARG1']
    in namespace: 'head_tags'.
head_indices: SequenceLabelField of length 6 with labels:
    [0, 1, 2, 3]
    in namespace: 'head_index_tags'.

